body {
    margin: 0px auto;
    background-color: #FAF1E6;
    max-width: 960px;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0.5em 1em;
    font-size: 1rem;
    left: 0px;
    right: 0px;
    background-color: #FDFAF6;
}

header > span {
    float: left;
}

header > nav {
    float: right;
    display: flex;
}

nav > a {
    padding: 0.25em;   
}

main {
    display: flex;
    min-height: 100vh;
    padding: 64px 24px;
    background-color: #E4EFE7;
}

/* CSS for home page */
#home-photo {
    height: 250px;
    width: 150px;
}

/* CSS for about page */
.hobby-container {
    display: flex;
}

.hobby-photos {
    height: 250px;
    width: 150px;
}