body {
    margin: 0px auto;
    background-color: #FAF1E6;
    max-width: 960px;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: 0.5em 1em;
    font-size: 1rem;
    left: 0px;
    right: 0px;
    background-color: #FDFAF6;
}

/** CSS for header **/
nav {
    display: flex;
    position: center;
}

a {
    padding: 0.6em;   
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: black;
    text-decoration: none;
    transition-duration: 0.2s;
}

.active-page {
    text-decoration: underline;
}
a:hover {
    font-size: 22px;
}
/** CSS for all pages **/
main {
    display: flex;
    min-height: 100vh;
    padding: 64px 24px;
    background-color: #E4EFE7;
}

/* CSS for home.html */
#home-photo {
    height: 250px;
    width: 150px;
    padding: 10px;
}

/* CSS for about.html */
#about-container {
    display: flex;
    flex-flow: column nowrap; 
}
.hobby-container {
    display: flex;
}

.hobby-photos {
    height: 250px;
    width: 150px;
    padding: 10px;
}

/* CSS for portfolio.html */
#portfolio-container {
    display: flex;
    flex-flow: column nowrap; 
}
.resume-container {
    display: flex;
}

.resume-photos {
    height: 250px;
    width: 150px;
    padding: 10px;
}